# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Miscellaneous
.DS_Store
Thumbs.db